<section id="projects" class="section rad-animation-group pb-0">
  <div class="container rad-fade-down">
    <h2 style='text-align: center;'>
        Blog
    </h2></a>
    <p class="lead text-center">
        My most recent blog posts, hosted on <a href="www.medium.com/data-explained"> Medium</a>.
    </p>

  <p class="lead">
      <div class="container rad-fade-down">
        <div class="row d-flex flex-column-reverse flex-md-row">
          <div class="col-sm-4">
            <p class="lead">
              <div class="experience__title" style="width:image width px;">
                <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                  UpSetR is the Greatest Set Visualization Since the Venn Diagram</div>
                </a></p>
            <a href=https://medium.com/data-explained>
              <img
              class="lozad img-responsive image-left"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              data-src="/img/blog/icon.png"
              data-srcset="/img/blog/icon.png 1x"
              alt="Blog Icon"
              />
            </a>
          </div>
          <div class= "col-sm-4">
            <p class="lead">
              <div class="experience__title" style="width:image width px;">
                <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                  UpSetR is the Greatest Set Visualization Since the Venn Diagram</div>
                </a></p>
                <a href = https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                  <img
                  class="lozad img-responsive img-right"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  data-src="/img/blog/upsetr_viz.png"
                  data-srcset="/img/blog/upsetr_viz.png 1x"
                  alt="UpSetR is the Greatest Set Visualization Since the Venn Diagram"
                  style="padding-bottom:0.5em;"
                  /></a>
                </div>

                <div class="col-sm-4">
                  <p class="lead">
                    <div class="experience__title" style="width:image width px">
                      <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                        UpSetR is the Greatest Set Visualization Since the Venn Diagram</div>
                      </a></p>
                      <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                        <img
                        class="lozad img-responsive"
                        src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                        data-src="/img/blog/upsetr_viz.png"
                        data-srcset="/img/blog/upsetr_viz.png 1x"
                        alt="UpSetR is the Greatest Set Visualization Since the Venn Diagram"
                        style="padding-bottom:0.5em;"
                        /></a>
                      </div>
                    </div>
                <!-- set 2 of 3 blogs goes here -->
            <div style="text-align:center;"><h4>To see an archive of all of my blog posts,
                <a href="https://medium.com/data-explained">click here</a>. </h4></div>
            </section>



<section class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2></h2>
                <div class="row pt-2 pt-md-4">
        <div style="font-size:70%; text-align:center;">
            Icons in homepage image made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> and  <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm">ultimatearm</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
</section>
