<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<!-- canonical permalink stuff, apparently it's important -->
<link rel="canonical" href="{{ .Permalink }}" />

<!-- Google Tag Manager -->
<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id={{ .Site.Params.googleTagManagerID }}' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ .Site.Params.googleTagManagerID }}');
</script>
<!-- End Google Tag Manager -->
<!-- endinject -->
<title>{{ .Site.Data.homepage.head.title }}</title>

{{ range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .URL | absURL }}"/>
{{ end }}

<!-- custom icons stylesheet -->
<script src="https://kit.fontawesome.com/ffb349db1a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
{{ range .Site.Params.plugins.js }}
<link rel="stylesheet" href="{{ .URL | absURL }}"/>
{{ end }}