<section id="projects" class="section rad-animation-group pb-0">
  <div class="container rad-fade-down">
    <h2 style='text-align: center;'>
      {{ .Site.Data.homepage.projects.section_title }} <!-- this is literally "Projects" -->
    </h2></a>
    <p class="lead text-center">
      {{ .Site.Data.homepage.projects.description }}
    </p>

  <p class="lead">
      <div class="container rad-fade-down">
        <div class="row d-flex flex-column-reverse flex-md-row">
          <div class="col-sm-4">
            <p class="lead">
              <div class="experience__title" style="width:image width px;">
                <a href= https://medium.com/data-explained/do-swing-states-voters-support-democrats-and-republicans-equally-at-the-local-level-6f02ce71597d>
                  Swing State Voters Analysis</div>
                </a></p>
            <a href=https://medium.com/data-explained>
              <img
              class="lozad img-responsive image-left"
              src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
              data-src="/img/blog/swing_state_2016.png"
              data-srcset="/img/blog/swing_state_2016.png 1x"
              alt=""
              />
            </a>
          </div>
          <div class= "col-sm-4">
            <p class="lead">
              <div class="experience__title" style="width:image width px;">
                <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                  Mental Health Predictor</div>
                </a></p>
                <a href = https://github.com/ElianaGrosof/health-in-tech>
                  <img
                  class="lozad img-responsive img-right"
                  src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                  data-src="/img/blog/mental.png"
                  data-srcset="/img/blog/mental.png 1x"
                  alt=""
                  style="padding-bottom:0.5em;"
                  /></a>
                </div>

                <div class="col-sm-4">
                  <p class="lead">
                    <div class="experience__title" style="width:image width px">
                      <a href= https://medium.com/data-explained/upsetr-is-the-greatest-set-visualization-since-the-venn-diagram-8bccbaef698a>
                        Complaint Topic Identification</div>
                      </a></p>
                      <a href= https://github.com/ElianaGrosof/complainers>
                        <img
                        class="lozad img-responsive"
                        src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                        data-src="/img/blog/complains.png"
                        data-srcset="/img/blog/complains.png 1x"
                        alt="UpSetR is the Greatest Set Visualization Since the Venn Diagram"
                        style="padding-bottom:0.5em;"
                        /></a>
                      </div>
                    </div>
                  </section>

                  <!-- set 2 of projects goes here -->
