{{ if .Site.Data.homepage.projects.enable }}
<section id="blog" class="section rad-animation-group pb-0">
  <div class="container rad-fade-down">
    <h2 style='text-align: center;'>
      Blog
    </h2></a>
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="row" id="recent-post-cards">
        {{ range first 3 (where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections )}}
          {{ partial "recent-post.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
